frontend/packages
frontend/node_modules
/backend/packages/*
!/backend/packages/composer.json
backend/config/SecreteData.php
backend/test
frontend/src/components/Tests
frontend/package-lock.json
.env
/assets/